@media only screen and (max-width: 1200px) {
  .navbar-collapse {
    background-color: #00000098;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .header_text {
    display: none;
  }

}

@media only screen and (max-width: 768px) {
  #products .products_bg {
    background-image: none;
  }

  #products .background_md {
    background-color: #213fc1;
    padding-bottom: 50px;
  }

  .header_text {
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  #products .products_bottom_bg {
    background-image: none;
  }

}

@media only screen and (min-width: 601px) {}